*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mont", sans-serif;
}
body {
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Mont", sans-serif;
}
.hamburger {
  display: none;
}
.stickyNav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
.nav1 {
  background-color: #1d1d1b;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 100px;
}
.nav1 .navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav1 .navRight .account,
.nav1 .navRight .shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  font-size: 15px;
}
.nav1 .navRight .searchBar {
  background-color: #1d1d1b;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-color: #efefef;
  padding-bottom: 10px;
}
.nav1 .navRight .searchMobile {
  display: none;
}
svg,
span {
  color: #efefef;
}
.nav2 {
  background-color: #2b2b2b;
  color: #fff;
  border-top-style: solid;
  border-width: thin;
  border-color: #efefef;
  width: 100%;
  padding: 20px 100px;
}
.nav2 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav2 ul li {
  align-self: inherit;
  color: #efefef;
}
.nav2 ul li:hover {
  color: #f8ab28;
  cursor: pointer;
}
.shipping {
  background-color: #4cd8c8;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shipping .truck {
  padding-right: 7px;
  width: 30px;
}
.vuseMain {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.vuseMain .mainPic {
  width: 60%;
}
.vuseMain .vuseDescription {
  background-color: #1d1d1b;
  color: #fff;
  padding-top: 70px;
  padding-left: 40px;
  max-width: 40%;
  flex-grow: 1;
}
.vuseMain .vuseDescription h1 {
  padding-bottom: 10px;
  font-family: "Changa One", cursive;
  letter-spacing: 2px;
}
.vuseMain .vuseDescription p {
  color: #efefef;
  padding-bottom: 9px;
}
.vuseMain .vuseDescription .explanation {
  font-size: x-small;
}
.vuseMain .vuseDescription .firstBttn {
  background-color: #f8ab28;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 20px;
}
.vuseMain .vuseDescription .firstBttn:hover {
  background-color: #fff;
  cursor: pointer;
}
.vuseMain .vuseDescription .secondBttn {
  display: none;
  content-visibility: hidden;
}
.vuseSecond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  width: 90%;
  margin: auto;
}
.vuseSecond .firstContainer,
.vuseSecond .secondContainer,
.vuseSecond .thirdContainer {
  position: relative;
  width: 33%;
  margin-right: 10px;
}
.vuseSecond .firstContainer .text1,
.vuseSecond .secondContainer .text1,
.vuseSecond .thirdContainer .text1,
.vuseSecond .firstContainer .text2,
.vuseSecond .secondContainer .text2,
.vuseSecond .thirdContainer .text2,
.vuseSecond .firstContainer .text3,
.vuseSecond .secondContainer .text3,
.vuseSecond .thirdContainer .text3 {
  position: absolute;
  height: 100%;
  padding: 25px 15px 15px 25px;
  text-align: left;
}
.vuseSecond .firstContainer h2,
.vuseSecond .secondContainer h2,
.vuseSecond .thirdContainer h2 {
  color: #fff;
}
.vuseSecond .firstContainer p,
.vuseSecond .secondContainer p,
.vuseSecond .thirdContainer p {
  color: #efefef;
  padding-top: 5px;
}
.vuseSecond .firstContainer button,
.vuseSecond .secondContainer button,
.vuseSecond .thirdContainer button {
  position: absolute;
  bottom: 20px;
  color: #f8ab28;
  background-color: #1d1d1b;
  border-color: #f8ab28;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}
.vuseSecond .firstContainer .secondPic,
.vuseSecond .secondContainer .secondPic,
.vuseSecond .thirdContainer .secondPic,
.vuseSecond .firstContainer .thirdPic,
.vuseSecond .secondContainer .thirdPic,
.vuseSecond .thirdContainer .thirdPic,
.vuseSecond .firstContainer .fourthPic,
.vuseSecond .secondContainer .fourthPic,
.vuseSecond .thirdContainer .fourthPic {
  width: 100%;
}
.vuseSecond .thirdContainer {
  margin-right: 0;
}
.whyVuse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4cd8c8;
}
.whyVuse .delivery,
.whyVuse .tested {
  flex-direction: column;
  align-items: center;
  padding: 30px 40px 20px 30px;
  text-align: center;
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  margin-top: 40px;
  background-color: #efefef;
}
.articles .intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  padding-bottom: 20px;
}
.articles .intro .introRight {
  display: flex;
  align-items: center;
}
.articles .intro .introRight svg {
  padding-left: 5px;
}
.articles .intro button {
  border: none;
  background-color: #efefef;
  color: #1d1d1b;
  font-weight: bold;
}
.articles .categories {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.articles .categories .centerArrow {
  display: flex;
  align-items: center;
}
.articles .categories .centerArrow svg {
  padding-left: 5px;
}
.articles .categories .category1:last-of-type {
  margin-right: 0;
}
.articles .categories .category1 {
  width: 33%;
  background-color: #fff;
  margin-right: 10px;
}
.articles .categories .category1 img {
  width: 100%;
}
.articles .categories .category1 p {
  padding: 15px 0px;
}
.articles .categories .category1 button {
  background-color: #fff;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}
.articles .categories .category1 .categoryText {
  padding-left: 15px;
  padding-bottom: 10px;
}
.social {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.social .socialMedia {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social .socialMedia2 {
  display: flex;
  align-items: center;
}
.social .socialMedia2 img {
  padding-left: 4px;
}
.social .socialPicsMobile {
  display: none;
  content-visibility: hidden;
}
.social .socialPics {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.social .socialPics img {
  width: calc(100% / 6);
  height: auto;
  object-fit: cover;
}
.social .socialPics .pic9 {
  flex-grow: 3;
}
.about {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
  font-size: 13px;
}
.about h4 {
  font-size: 16px;
}
.about .warnings {
  display: flex;
  flex-direction: column;
}
.about .warnings p {
  padding-bottom: 10px;
  font-size: 13px;
}
.news {
  width: 100%;
  background-color: #efefef;
  display: flex;
}
.news .newsletter {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}
.news .newsletter button {
  background-color: #fff;
  color: #1d1d1b;
  border-radius: 20px;
  padding: 8px 45px;
  border-color: #f8ab28;
  font-size: 16px;
  font-weight: bold;
}
.emptyDiv {
  background-color: #1d1d1b;
  width: 100%;
  height: 40px;
}
.footer {
  background-color: #2b2b2b;
  color: #efefef;
  display: flex;
  width: 100%;
}
.footer .content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer .content .footer1,
.footer .content .footer2,
.footer .content .footer3 {
  width: 25%;
}
.footer .content h4 {
  color: #fff;
  padding-bottom: 10px;
  position: relative;
}
.footer .content h4:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #efefef;
  top: 22px;
  left: 0;
}
.footer .content svg {
  stroke: #efefef;
  fill: #1d1d1b;
  width: 35px;
}
.footer .content svg:hover {
  stroke: #f8ab28;
  scale: calc(105%);
  cursor: pointer;
}
.footer .content ul {
  list-style-type: none;
  line-height: 2;
  padding-bottom: 20px;
}
.footer .content .anpc {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 45%;
}
.footer .content .anpc img {
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .vuseMain .vuseDescription {
    padding: 20px;
  }
  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1;
  }
  .vuseSecond .firstContainer .text1,
  .vuseSecond .secondContainer .text2,
  .vuseSecond .thirdContainer .text3 {
    padding: 5px 20px 2px 25px;
    font-size: 15px;
  }
  .articles .categories .category1 p {
    font-size: 12px;
  }
}
@media (min-width: 1366px) {
  .vuseMain .vuseDescription {
    padding-top: 25px;
  }
  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .vuseSecond .firstContainer .text1,
  .vuseSecond .secondContainer .text2,
  .vuseSecond .thirdContainer .text3 {
    padding-top: 17px;
  }
}
@media (min-width: 1920px) {
  .vuseMain .vuseDescription h1 {
    font-size: 55px;
    letter-spacing: 4px;
  }
  .vuseMain .vuseDescription p {
    font-size: 27px;
  }
  .vuseMain .vuseDescription .explanation {
    font-size: 17px;
  }
  .vuseMain .vuseDescription .firstBttn {
    font-size: 25px;
  }
  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    font-size: 23px;
  }
  .vuseSecond .firstContainer h2,
  .vuseSecond .secondContainer h2,
  .vuseSecond .thirdContainer h2 {
    font-size: 27px;
  }
  .vuseSecond .firstContainer button,
  .vuseSecond .secondContainer button,
  .vuseSecond .thirdContainer button {
    font-size: 23px;
  }
  .whyVuse,
  .whyVuse .delivery,
  .whyVuse .tested {
    font-size: 27px;
  }
  .articles .categories .category1 h3 {
    font-size: 25px;
  }
  .articles .categories .category1 p,
  .articles .categories .category1 button {
    font-size: 20px;
  }
  .articles .intro button {
    font-size: 20px;
  }
  .articles h2 {
    font-size: 33px;
  }
  .articles .intro .introRight svg {
    font-size: 17px;
  }
  .social .socialMedia {
    font-size: 27px;
  }
  .social .socialMedia .socialMedia2 img {
    width: 40px;
  }
  .about .warnings p,
  .about p,
  .about h4 {
    font-size: 21px;
  }
  .news .newsletter,
  .news .newsletter button {
    font-size: 24px;
  }
  .footer .content {
    font-size: 24px;
  }
  .footer .content h4:after {
    top: 28px;
    left: 0;
  }
  .nav1,
  .nav2,
  .shipping,
  .searchBar,
  .nav1 .navRight .account,
  .nav1 .navRight .shop {
    font-size: 24px;
  }
}
@media (min-width: 2550px) {
  .navRight,
  .nav2 {
    font-size: 26px;
  }
  .navRight .account svg,
  .navRight .shop svg {
    width: 30px;
  }
  .nav1 img {
    width: 170px;
    height: 60px;
  }
  .navRight .searchDesktop svg {
    width: 30px;
  }
  .shipping {
    font-size: 30px;
    padding-top: 4px;
  }
  .vuseMain .vuseDescription {
    padding: 55px;
  }
  .vuseMain .vuseDescription p {
    font-size: 27px;
  }
  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    line-height: 2;
    font-size: 25px;
  }
}
@media (max-width: 640px) {
  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }
  .hamburger .hamburgerText {
    width: 30px;
    height: 3px;
    color: #fff;
    margin: 6px 0;
  }
  .nav1 {
    padding: 10px;
  }
  .nav1 .navRight .searchDesktop {
    content-visibility: hidden;
  }
  .nav1 .navRight .searchMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav1 .navRight .account {
    content-visibility: hidden;
  }
  .nav2 {
    display: none;
  }
  .shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
  }
  .vuseMain {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .vuseMain .mainPic {
    width: 100%;
  }
  .vuseMain .vuseDescription {
    max-width: 100%;
    flex-grow: unset;
  }
  .vuseMain .vuseDescription .firstBttn {
    display: none;
  }
  .vuseMain .vuseDescription .secondBttn {
    content-visibility: visible;
    margin-bottom: 20px;
    background-color: #f8ab28;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 20px;
  }
  .vuseMain .vuseDescription .secondBttn:hover {
    background-color: #fff;
    cursor: pointer;
  }
  .vuseSecond {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .vuseSecond .firstContainer,
  .vuseSecond .secondContainer,
  .vuseSecond .thirdContainer {
    width: 100%;
  }
  .vuseSecond .firstContainer .text1,
  .vuseSecond .secondContainer .text1,
  .vuseSecond .thirdContainer .text1,
  .vuseSecond .firstContainer .text2,
  .vuseSecond .secondContainer .text2,
  .vuseSecond .thirdContainer .text2,
  .vuseSecond .firstContainer .text3,
  .vuseSecond .secondContainer .text3,
  .vuseSecond .thirdContainer .text3 {
    padding: 25px 15px;
  }
  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    padding-top: 10px;
    font-size: 20px;
  }
  .vuseSecond .firstContainer button,
  .vuseSecond .secondContainer button,
  .vuseSecond .thirdContainer button {
    margin-top: 2px;
  }
  .whyVuse {
    display: flex;
    flex-direction: column;
  }
  .whyVuse .delivery,
  .whyVuse .tested {
    display: flex;
    flex-direction: row;
  }
  .articles {
    margin-top: 0px;
  }
  .articles .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .articles .intro .introRight {
    padding-top: 7px;
  }
  .articles .intro .introRight button {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .articles .intro .introRight svg {
    width: 35px;
  }
  .articles .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .articles .categories .category1 {
    width: 90%;
    margin-bottom: 30px;
  }
  .social .socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social .socialPics {
    content-visibility: hidden;
    display: none;
  }
  .social .socialPicsMobile {
    display: flex;
    justify-content: center;
    content-visibility: visible;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }
}
