*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.nav1 {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 100px;
}
.nav1 .navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav1 .navRight .account,
.nav1 .navRight .shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  font-size: 15px;
}
.nav1 .navRight .searchBar {
  background-color: #000;
  width: 220px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-color: #c6c0c0;
}
svg,
span {
  color: #c6c0c0;
}
.nav2 {
  background-color: #000;
  color: #fff;
  border-top-style: solid;
  border-width: thin;
  border-color: #c6c0c0;
  width: 100%;
  padding: 20px 100px;
}
.nav2 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav2 ul li {
  align-self: inherit;
  color: #c6c0c0;
}
.nav2 ul li:hover {
  color: #f8ab28;
  cursor: pointer;
}
.shipping {
  background-color: #4cd8c8;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shipping .truck {
  padding-right: 7px;
  width: 30px;
}
.vuseMain {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
}
.vuseMain .mainPic {
  flex-grow: 2;
}
.vuseMain .vuseDescription {
  background-color: #000;
  color: #fff;
  padding-top: 70px;
  padding-left: 40px;
  max-width: 100%;
  flex-grow: 1;
}
.vuseMain .vuseDescription h1 {
  font-weight: bolder;
  padding-bottom: 10px;
}
.vuseMain .vuseDescription p {
  color: #c6c0c0;
  padding-bottom: 9px;
}
.vuseMain .vuseDescription .explanation {
  font-size: x-small;
}
.vuseMain .vuseDescription .firstBttn {
  background-color: #f8ab28;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 20px;
}
.vuseMain .vuseDescription .firstBttn:hover {
  background-color: #fff;
  cursor: pointer;
}
.vuseSecond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  width: 90%;
  margin: auto;
}
.vuseSecond .firstContainer,
.vuseSecond .secondContainer,
.vuseSecond .thirdContainer {
  position: relative;
  width: 33%;
  margin-right: 10px;
}
.vuseSecond .firstContainer .text1,
.vuseSecond .secondContainer .text1,
.vuseSecond .thirdContainer .text1,
.vuseSecond .firstContainer .text2,
.vuseSecond .secondContainer .text2,
.vuseSecond .thirdContainer .text2,
.vuseSecond .firstContainer .text3,
.vuseSecond .secondContainer .text3,
.vuseSecond .thirdContainer .text3 {
  position: absolute;
  padding: 25px 15px 15px 25px;
  text-align: left;
}
.vuseSecond .firstContainer h2,
.vuseSecond .secondContainer h2,
.vuseSecond .thirdContainer h2 {
  color: #fff;
}
.vuseSecond .firstContainer p,
.vuseSecond .secondContainer p,
.vuseSecond .thirdContainer p {
  color: #c6c0c0;
  padding-top: 10px;
}
.vuseSecond .firstContainer button,
.vuseSecond .secondContainer button,
.vuseSecond .thirdContainer button {
  color: #f8ab28;
  background-color: #000;
  border-color: #f8ab28;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}
.vuseSecond .firstContainer .secondPic,
.vuseSecond .secondContainer .secondPic,
.vuseSecond .thirdContainer .secondPic,
.vuseSecond .firstContainer .thirdPic,
.vuseSecond .secondContainer .thirdPic,
.vuseSecond .thirdContainer .thirdPic,
.vuseSecond .firstContainer .fourthPic,
.vuseSecond .secondContainer .fourthPic,
.vuseSecond .thirdContainer .fourthPic {
  width: 100%;
}
.vuseSecond .thirdContainer {
  margin-right: 0;
}
.whyVuse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4cd8c8;
}
.whyVuse .delivery,
.whyVuse .tested {
  flex-direction: column;
  align-items: center;
  padding: 30px 40px 20px 30px;
  text-align: center;
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  margin-top: 40px;
  background-color: #c6c0c0;
}
.articles .intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  padding-bottom: 20px;
}
.articles .intro button {
  border: none;
  background-color: #c6c0c0;
  color: #000;
}
.articles .categories {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.articles .categories .category1:last-of-type {
  margin-right: 0;
}
.articles .categories .category1 {
  width: 33%;
  background-color: #fff;
  margin-right: 10px;
}
.articles .categories .category1 img {
  width: 100%;
}
.articles .categories .category1 p {
  padding: 15px 0px;
}
.articles .categories .category1 button {
  background-color: #fff;
  border: none;
}
.articles .categories .category1 .categoryText {
  padding-left: 15px;
  padding-bottom: 10px;
}
.social {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.social .socialMedia {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social .socialMedia2 {
  display: flex;
  align-items: center;
}
.social .socialPics {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  background-color: aqua;
}
.about {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
}
.about .warnings {
  display: flex;
  flex-direction: column;
}
.about .warnings p {
  padding-bottom: 10px;
}
.news {
  width: 100%;
  background-color: #c6c0c0;
  display: flex;
}
.news .newsletter {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
}
.news .newsletter button {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 8px 45px;
  border-color: #f8ab28;
}
