@import "_variables.less";
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.stickyNav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav1 {
  background-color: @color-black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 100px;

  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .account,
    .shop {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      font-size: 15px;
    }

    .searchBar {
      background-color: @color-black;
      width: 220px;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      border-bottom-style: groove;
      border-color: @color-grey;
    }
  }
}

svg,
span {
  color: @color-grey;
}

.nav2 {
  background-color: @color-light-black;
  color: @color-white;
  border-top-style: solid;
  border-width: thin;
  border-color: @color-grey;
  width: 100%;
  padding: 20px 100px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      align-self: inherit;
      color: @color-grey;
    }

    li:hover {
      color: @color-orange;
      cursor: pointer;
    }
  }
}

.shipping {
  background-color: @color-shipping;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .truck {
    padding-right: 7px;
    width: 30px;
  }
}

.vuseMain {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;

  .mainPic {
    flex-grow: 2;
  }
  .vuseDescription {
    background-color: @color-black;
    color: @color-white;
    padding-top: 70px;
    padding-left: 40px;
    max-width: 100%;
    flex-grow: 1;

    h1 {
      padding-bottom: 10px;
      font-family: @title-font;
      letter-spacing: 2px;
    }

    p {
      color: @color-grey;
      padding-bottom: 9px;
    }

    .explanation {
      font-size: x-small;
    }

    .firstBttn {
      background-color: @color-orange;
      padding: 12px 25px;
      border-radius: 25px;
      font-weight: bold;
      margin-top: 20px;
    }

    .firstBttn:hover {
      background-color: @color-white;
      cursor: pointer;
    }
  }
}

.vuseSecond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  width: 90%;
  margin: auto;

  .firstContainer,
  .secondContainer,
  .thirdContainer {
    position: relative;
    width: 33%;
    margin-right: 10px;

    .text1,
    .text2,
    .text3 {
      position: absolute;
      height: 100%;
      padding: 25px 15px 15px 25px;
      text-align: left;
    }

    h2 {
      color: @color-white;
    }

    p {
      color: @color-grey;
      padding-top: 10px;
    }

    button {
      position: absolute;
      bottom: 20px;
      color: @color-orange;
      background-color: @color-black;
      border-color: @color-orange;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: bold;
    }

    .secondPic,
    .thirdPic,
    .fourthPic {
      width: 100%;
    }
  }

  .thirdContainer {
    margin-right: 0;
  }
}

.whyVuse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: @color-shipping;

  .delivery,
  .tested {
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 20px 30px;
    text-align: center;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  margin-top: 40px;
  background-color: @color-grey;

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    padding-bottom: 20px;

    .introRight {
      display: flex;
      align-items: center;

      svg {
        padding-left: 5px;
      }
    }

    button {
      border: none;
      background-color: @color-grey;
      color: @color-black;
    }
  }

  .categories {
    display: flex;
    justify-content: space-between;
    width: 90%;

    .centerArrow {
      display: flex;
      align-items: center;

      svg {
        padding-left: 5px;
      }
    }

    .category1:last-of-type {
      margin-right: 0;
    }

    .category1 {
      width: 33%;
      background-color: @color-white;
      margin-right: 10px;

      img {
        width: 100%;
      }
      p {
        padding: 15px 0px;
      }

      button {
        background-color: @color-white;
        border: none;
      }

      .categoryText {
        padding-left: 15px;
        padding-bottom: 10px;
      }
    }
  }
}

.social {
  display: flex;
  width: 100%;
  flex-direction: column;

  .socialMedia {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .socialMedia2 {
    display: flex;
    align-items: center;
  }

  .socialPics {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

    img {
      width: calc(100% / 6);
      height: auto;
      object-fit: cover;
    }

    .pic9 {
      flex-grow: 3;
    }
  }
}

.about {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;

  .warnings {
    display: flex;
    flex-direction: column;

    p {
      padding-bottom: 10px;
    }
  }
}

.news {
  width: 100%;
  background-color: @color-grey;
  display: flex;

  .newsletter {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 30px;

    button {
      background-color: @color-white;
      color: @color-black;
      border-radius: 20px;
      padding: 8px 45px;
      border-color: @color-orange;
    }
  }
}

.emptyDiv {
  background-color: @color-black;
  width: 100%;
  height: 40px;
}

.footer {
  background-color: @color-light-black;
  color: @color-grey;
  display: flex;
  width: 100%;

  .content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    .footer1,
    .footer2,
    .footer3 {
      width: 25%;
    }

    h4 {
      color: @color-white;
      padding-bottom: 10px;
      position: relative;
    }

    h4:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: @color-grey;
      top: 22px;
      left: 0;
    }

    svg {
      stroke: @color-grey;
      fill: @color-black;
      width: 35px;
    }

    svg:hover {
      stroke: @color-orange;
      scale: calc(105%);
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      line-height: 2;
      padding-bottom: 20px;
    }

    .anpc {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 45%;

      img {
        padding-bottom: 10px;
      }
    }
  }
}
