@import "_variables.less";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mont", sans-serif;
}

body {
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Mont", sans-serif;
}

.shadeStyle {
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  min-height: 100%;
  width: 100vw;
  z-index: 8;
}

.tooltipStyle {
  position: sticky;
  top: 123px;
  background-color: @color-black;
  color: @color-white;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 15%;
  padding: 15px 0;
  font-size: 14px;
  z-index: 9;

  h2 {
    padding-bottom: 15px;
  }

  .contactOptions {
    display: flex;
    column-gap: 55px;
    align-items: center;
    margin-top: 15px;
  }

  button {
    color: @color-orange;
    background-color: transparent;
    padding: 5px 15px;
    border: 2px solid @color-orange;
    border-radius: 15px;
    font-size: 12px;
  }

  .faq button {
    margin-top: 15px;
    padding: 5px 35px;
    text-transform: uppercase;
  }
}

.hamburger {
  display: none;
}

.stickyNav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav1 {
  background-color: @color-black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 100px;

  .navRight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .account,
    .shop {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      font-size: 15px;
    }

    .searchBar {
      background-color: @color-black;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      border-bottom-style: groove;
      border-color: @color-grey;
      padding-bottom: 10px;
    }

    .searchMobile {
      display: none;
    }
  }
}

svg,
span {
  color: @color-grey;
}

.nav2 {
  background-color: @color-light-black;
  color: @color-white;
  border-top-style: solid;
  border-width: thin;
  border-color: @color-grey;
  width: 100%;
  padding: 20px 100px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      align-self: inherit;
      color: @color-grey;
    }

    li:hover {
      color: @color-orange;
      cursor: pointer;
    }
  }
}

.shipping {
  background-color: @color-shipping;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .truck {
    padding-right: 7px;
    width: 30px;
  }
}

.vuseMain {
  display: flex;
  flex-direction: row;
  width: 100%;

  .mainPic {
    width: 60%;
  }
  .vuseDescription {
    background-color: @color-black;
    color: @color-white;
    padding-top: 70px;
    padding-left: 40px;
    max-width: 40%;
    flex-grow: 1;

    h1 {
      padding-bottom: 10px;
      font-family: @title-font;
      letter-spacing: 2px;
    }

    p {
      color: @color-grey;
      padding-bottom: 9px;
    }

    .explanation {
      font-size: x-small;
    }

    .firstBttn {
      background-color: @color-orange;
      padding: 12px 25px;
      border-radius: 25px;
      font-weight: bold;
      margin-top: 20px;
    }

    .firstBttn:hover {
      background-color: @color-white;
      cursor: pointer;
    }

    .secondBttn {
      display: none;
      content-visibility: hidden;
    }
  }
}

.vuseSecond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  width: 90%;
  margin: auto;

  .firstContainer,
  .secondContainer,
  .thirdContainer {
    position: relative;
    width: 33%;
    margin-right: 10px;

    .text1,
    .text2,
    .text3 {
      position: absolute;
      height: 100%;
      padding: 25px 15px 15px 25px;
      text-align: left;
    }

    h2 {
      color: @color-white;
    }

    p {
      color: @color-grey;
      padding-top: 5px;
    }

    button {
      position: absolute;
      bottom: 20px;
      color: @color-orange;
      background-color: @color-black;
      border-color: @color-orange;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: bold;
    }

    .secondPic,
    .thirdPic,
    .fourthPic {
      width: 100%;
    }
  }

  .thirdContainer {
    margin-right: 0;
  }
}

.whyVuse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: @color-shipping;

  .delivery,
  .tested {
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 20px 30px;
    text-align: center;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  margin-top: 40px;
  background-color: @color-grey;

  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    padding-bottom: 20px;

    .introRight {
      display: flex;
      align-items: center;

      svg {
        padding-left: 5px;
      }
    }

    button {
      border: none;
      background-color: @color-grey;
      color: @color-black;
      font-weight: bold;
    }
  }

  .categories {
    display: flex;
    justify-content: space-between;
    width: 90%;

    .centerArrow {
      display: flex;
      align-items: center;

      svg {
        padding-left: 5px;
      }
    }

    .category1:last-of-type {
      margin-right: 0;
    }

    .category1 {
      width: 33%;
      background-color: @color-white;
      margin-right: 10px;

      img {
        width: 100%;
      }
      p {
        padding: 15px 0px;
      }

      button {
        background-color: @color-white;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
      }

      .categoryText {
        padding-left: 15px;
        padding-bottom: 10px;
      }
    }
  }
}

.social {
  display: flex;
  width: 100%;
  flex-direction: column;

  .socialMedia {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .socialMedia2 {
    display: flex;
    align-items: center;

    img {
      padding-left: 4px;
    }
  }

  .socialPicsMobile {
    display: none;
    content-visibility: hidden;
  }

  .socialPics {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

    img {
      width: calc(100% / 6);
      height: auto;
      object-fit: cover;
    }

    .pic9 {
      flex-grow: 3;
    }
  }
}

.about {
  width: 90%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
  font-size: 13px;

  h4 {
    font-size: 16px;
  }

  .warnings {
    display: flex;
    flex-direction: column;

    p {
      padding-bottom: 10px;
      font-size: 13px;
    }
  }
}

.news {
  width: 100%;
  background-color: @color-grey;
  display: flex;

  .newsletter {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;

    button {
      background-color: @color-white;
      color: @color-black;
      border-radius: 20px;
      padding: 8px 45px;
      border-color: @color-orange;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.emptyDiv {
  background-color: @color-black;
  width: 100%;
  height: 40px;
}

.footer {
  background-color: @color-light-black;
  color: @color-grey;
  display: flex;
  width: 100%;

  .content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    .footerIntro {
      display: none;
    }

    .footer1,
    .footer2,
    .footer3 {
      width: 25%;
    }

    h4 {
      color: @color-white;
      padding-bottom: 10px;
      position: relative;
    }

    h4:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: @color-grey;
      top: 22px;
      left: 0;
    }

    svg {
      stroke: @color-grey;
      fill: @color-black;
      width: 35px;
    }

    svg:hover {
      stroke: @color-orange;
      scale: calc(105%);
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      line-height: 2;
      padding-bottom: 20px;
    }

    .anpc {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 45%;

      img {
        padding-bottom: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .vuseMain .vuseDescription {
    padding: 20px;
  }

  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1;
  }

  .vuseSecond .firstContainer .text1,
  .vuseSecond .secondContainer .text2,
  .vuseSecond .thirdContainer .text3 {
    padding: 5px 20px 2px 25px;
    font-size: 15px;
  }

  .articles .categories .category1 p {
    font-size: 12px;
  }
}

@media (min-width: 1366px) {
  .vuseMain .vuseDescription {
    padding-top: 25px;
  }

  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .vuseSecond .firstContainer .text1,
  .vuseSecond .secondContainer .text2,
  .vuseSecond .thirdContainer .text3 {
    padding-top: 17px;
  }
}

@media (min-width: 1920px) {
  .vuseMain .vuseDescription h1 {
    font-size: 55px;
    letter-spacing: 4px;
  }

  .vuseMain .vuseDescription p {
    font-size: 27px;
  }

  .vuseMain .vuseDescription .explanation {
    font-size: 17px;
  }

  .vuseMain .vuseDescription .firstBttn {
    font-size: 25px;
  }

  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    font-size: 23px;
  }

  .vuseSecond .firstContainer h2,
  .vuseSecond .secondContainer h2,
  .vuseSecond .thirdContainer h2 {
    font-size: 27px;
  }

  .vuseSecond .firstContainer button,
  .vuseSecond .secondContainer button,
  .vuseSecond .thirdContainer button {
    font-size: 23px;
  }

  .whyVuse,
  .whyVuse .delivery,
  .whyVuse .tested {
    font-size: 27px;
  }

  .articles {
    .categories {
      .category1 {
        h3 {
          font-size: 25px;
        }
        p,
        button {
          font-size: 20px;
        }
      }
    }
  }

  .articles .intro button {
    font-size: 20px;
  }

  .articles h2 {
    font-size: 33px;
  }

  .articles .intro .introRight svg {
    font-size: 17px;
  }

  .social .socialMedia {
    font-size: 27px;

    .socialMedia2 {
      img {
        width: 40px;
      }
    }
  }

  .about .warnings p,
  .about p,
  .about h4 {
    font-size: 21px;
  }

  .news .newsletter,
  .news .newsletter button {
    font-size: 24px;
  }

  .footer .content {
    font-size: 24px;
  }

  .footer .content h4:after {
    top: 28px;
    left: 0;
  }

  .nav1,
  .nav2,
  .shipping,
  .searchBar,
  .nav1 .navRight .account,
  .nav1 .navRight .shop {
    font-size: 24px;
  }
}

@media (min-width: 2550px) {
  .navRight,
  .nav2 {
    font-size: 26px;
  }

  .navRight .account,
  .navRight .shop {
    svg {
      width: 30px;
    }
  }

  .nav1 img {
    width: 170px;
    height: 60px;
  }

  .navRight .searchDesktop {
    svg {
      width: 30px;
    }
  }

  .shipping {
    font-size: 30px;
    padding-top: 4px;
  }

  .vuseMain .vuseDescription {
    padding: 55px;
  }

  .vuseMain .vuseDescription p {
    font-size: 27px;
  }

  .vuseSecond .firstContainer p,
  .vuseSecond .secondContainer p,
  .vuseSecond .thirdContainer p {
    line-height: 2;
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .line {
      width: 30px;
      height: 3px;
      background-color: @color-white;
      margin: 6px 0;
    }

    .hamburgerText {
      width: 30px;
      height: 3px;
      color: @color-white;
      margin: 6px 0;
    }
  }

  .nav1 {
    padding: 10px;

    .navRight {
      .searchDesktop {
        content-visibility: hidden;
      }

      .searchMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .account {
        content-visibility: hidden;
      }
    }
  }

  .nav2 {
    display: none;

    // Am stilizat ul-ul din interiorul nav2-ului sa fie column centrat
    //Din cauza ca nav2 are clasa 'active', e vizibil si se vede si ul-ul
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 15px;

      //Am facut li-urile sa ocupe 100% din parinte, sa aiba un border bottom si sa fie mai 'aerisite' cu padding
      li {
        width: 100%;
        padding: 15px 0px;
        border-bottom: 1px solid #adadad;
      }
    }
  }

  //Am definit clasa active sub nav2, pentru ca daca o defineam inainte ii dadea overwrite, fiind scrisa mai jos
  //I-am dat position absolute ca sa se deschida peste celalalt content si am centrat-o
  .active {
    display: block;
    position: absolute;
    width: 100%;
    padding: 5px;
    top: 65px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
  }

  .vuseMain {
    display: flex;
    flex-direction: column;
    width: 100%;

    .mainPic {
      width: 100%;
    }

    .vuseDescription {
      max-width: 100%;
      flex-grow: unset;
      text-align: left;
      padding-top: 15px;

      .firstBttn {
        display: none;
      }

      .secondBttn {
        display: block;
        content-visibility: visible;
        margin-bottom: 20px;
        background-color: @color-orange;
        padding: 12px 25px;
        border-radius: 25px;
        font-weight: bold;
        margin-top: 20px;
        &:hover {
          background-color: @color-white;
          cursor: pointer;
        }
      }
    }
  }

  .vuseSecond {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 8px;

    .firstContainer,
    .secondContainer,
    .thirdContainer {
      width: 100%;

      .text1,
      .text2,
      .text3 {
        padding: 25px 15px;
      }

      p {
        padding-top: 10px;
        font-size: 20px;
      }

      button {
        margin-top: 2px;
        margin-bottom: 10px;
      }
    }
  }

  .whyVuse {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 25px;
    align-items: flex-start;
    text-align: left;

    h2 {
      align-self: center;
    }

    .delivery,
    .tested {
      display: flex;
      flex-direction: row;
    }

    .tested {
      padding-top: 0;
    }
  }

  .articles {
    margin-top: 0px;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .introRight {
        padding-top: 7px;

        button {
          font-size: 17px;
          text-transform: uppercase;
          font-weight: bold;
        }

        svg {
          width: 35px;
        }
      }
    }

    .categories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .category1 {
        width: 90%;
        margin-bottom: 30px;
      }
    }
  }
  .social {
    .socialMedia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .socialPics {
      content-visibility: hidden;
      display: none;
    }

    .socialPicsMobile {
      display: flex;
      justify-content: center;
      content-visibility: visible;
      flex-wrap: wrap;
      width: 90%;
      margin: auto;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

    p {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .newsletter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      button {
        margin-top: 10px;
      }
    }
  }

  .footer {
    display: flex;

    .content {
      display: flex;
      flex-direction: column;

      .footerIntro {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
      }

      .footerIntro svg {
        display: flex;
        stroke: @color-grey;
        fill: @color-black;
        width: 35px;
        &:hover {
          stroke: @color-orange;
          scale: calc(105%);
          cursor: pointer;
        }
      }

      .footer1,
      .footer2,
      .footer3 {
        width: 90%;
      }

      .footer1 h4:last-of-type,
      svg {
        display: none;
      }
    }
  }
}
